*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input
{
  height:75px;
  width: 200px;
}

.hide
{
  display: none;
}

.medium
{
  font-size: 150%;
}

.button-style {
color: #494949 !important;
text-transform: uppercase;
background: #ffffff;
padding: 5px;
border: 2px solid #494949 !important;
border-radius: 6px;
display: inline-block;
width: 100px;
height: 100px;
}

.button-style:hover {
color: #ffffff !important;
background: #004C98;
border-color: #ffffff !important;
transition: all 0.4s ease 0s;
}

.large
{
  font-size: 200%;
}

a:link {
  color: #004C98;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.blue
{
  color: #004C98;
}

.menu-box
{
  background-color: #004C98; /*Blue of Greek flag*/
  padding: 20px 0;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.menu
{
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.links
{
  text-decoration: none;
  color: white;
}

.cfmip-pic-box
{
  display: flex;
  padding: 20px 0;
  justify-content: center;
  background-color: white;
}

.container
{
  color: white;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.container input
{
  margin: 5px;
}

.horizontal-btn-container
{
  color: white;
  font-size: 200%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontal-btns
{
  margin: 5px;
}

.container-btns
{
  color: white;
  font-size: 200%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1150px;
}

.container-btns button
{
  margin: 5px;
}

.container-logout
{
  color: white;
  font-size: 200%;
  background-color: #004C98; /*Blue*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.container-logout-item
{
  margin: 20px;
}

.conference-text-box
{
  color: white;
  font-size: 200%;
  background-color: #004C98; /*Blue*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.important-dates-box
{
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px 0;
  color: #004C98;
}

.important-dates-list
{
  list-style-type: circle;
  color: white;
  display: flex;
  flex-direction: column;
}

.included-with-registration
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #004C98;
  padding: 20px 0;
  color: white;
}

.timetable-nested-list
{
  list-style-type: circle;
  color: #004C98;
  display: flex;
  flex-direction: column;
  padding: 3px 3px 3px 17px;
}

/*  background-color: #004C98; /*Blue*/
/*background-color: #ffffff; /*White*/
