*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide
{
  display: none;
}

.medium
{
  font-size: 150%;
}

.large
{
  font-size: 200%;
}

.menu-box
{
  background-color: #004C98; /*Blue of Greek flag*/
  padding: 20px 0;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.menu
{
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.links
{
  text-decoration: none;
  color: white;
}

.cfmip-pic-box
{
  display: flex;
  padding: 20px 0;
  justify-content: center;
  background-color: white;
}

.container
{
  color: white;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.container input
{
  margin: 5px;
}

.container-btns
{
  color: white;
  font-size: 200%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1150px;
}

.container-btns button
{
  margin: 5px;
}

.conference-text-box
{
  color: white;
  font-size: 200%;
  background-color: #004C98; /*Blue*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.important-dates-box
{
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px 0;
  color: #004C98;
}

.important-dates-list
{
  list-style-type: circle;
  color: white;
  display: flex;
  flex-direction: column;
}

.included-with-registration
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #004C98;
  padding: 20px 0;
  color: white;
}

.timetable-nested-list
{
  list-style-type: circle;
  color: #004C98;
  display: flex;
  flex-direction: column;
  padding: 3px 3px 3px 17px;
}

/*  background-color: #004C98; /*Blue*/
/*background-color: #ffffff; /*White*/